body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-color: #FFF2D7;
}

main {
    flex: 1 0 auto;
}

h1 {
    text-align: center;
}

.hero-image {
    position: relative;
}

.card {
    background-color: #F98866;
    margin-bottom: 1.5rem;
}

.card-text {
    font-size: 2rem;
}

#social-networks {
    display: flex;
    width: 100%;
    list-style-type: none;
    justify-content: space-evenly;
}