{% extends 'base.html' %}

{% block content %}

{% load static %}

<!-- Hero Image -->
<div class="hero-image">
    <img src="{% static 'images/hero-image.webp' %}" alt="hero image">
</div>

<div class="container">
    <div class="row">
        <div class="col-md-3">
            <h5>Lesson Times</h5>
            <ul class="list-group">
                <li class="list-group-item">Monday 10am - 5pm</li>
                <li class="list-group-item">Tuesday 10am - 5pm</li>
                <li class="list-group-item">Wednesday 10am - 5pm</li>
                <li class="list-group-item">Thursday 10am - 5pm</li>
                <li class="list-group-item">Friday 10am - 5pm</li>
                <li class="list-group-item">Saturday 10am - 5pm</li>
                <li class="list-group-item">Sunday 10am - 5pm</li>
              </ul>
        </div>
    </div>
</div>


{% endblock %}