{% extends 'base.html' %}
{% load static %}

{% load crispy_forms_tags %}

{% block content %}

<div class="container">
    <div class="row">
        <h2 class="text-center mt-2 text-decoration-underline text-uppercase">Make a Booking</h2>
    </div>
    <div class="row">
        <div class="col-sm-6 offset-sm-3 col-lg-4 offset-lg-4">
            <div class="card text-center">
                <div class="col-md-10 offset-md-1">
                    <form method="post">
                        {{ booking_form | crispy }}
                        {% csrf_token %}
                        <div class="card-footer">
                            <button class="btn btn-primary"
                            type="submit">Submit</button>
                            <a href="{% url 'bookings' %}" class="btn btn-success">My Bookings</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
        
    <!-- Lesson Times Section -->
    <div class="row justify-content-center">
        <div class="col-lg-3 col-md-7 col-sm-4 mb-4">
            <div class="card">
                <div class="card-header text-center text-uppercase">Lesson Times</div>
                <div class="card-body">
                    <ul class="list-group text-center">
                        <li class="list-group-item">Monday - Sunday</li>
                        <li class="list-group-item">10:00 - 13:00</li>
                        <li class="list-group-item">14:00 - 18:00</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}