{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="container">
    <div class="row">
        {% if bookings %}
        {% for booking in bookings %}
        <div class="col-md-3">
            <div class="card">
                <img src="{{ booking.horse.image.url }}" class="card-img-top" alt="{{ booking.horse.name }}">
                <div class="card-body">
                    <h3>{{ booking.lesson_date }}</h3>
                    <h3>{{ booking.get_lesson_time_display }}</h3>
                    <h3>{{ booking.horse.name }}</h3>
                    <a href="{% url 'edit' booking.id %}" class="btn btn-primary btn-sm">Edit</a>
                    <a href="{% url 'delete' booking.id %}" class="btn btn-danger btn-sm">Delete</a>
                </div>
            </div>
        </div>
        {% endfor %}
        {% else %}
        <div class="col-md-8">
            <div class="card">
                <div class="card-body">
                    <p class="card-text">You have no bookings yet.</p>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
</div>

{% endblock %}