@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900&display=swap');


body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    background-color: #FFF2D7;
}

main {
    flex: 1 0 auto;
}

h1 {
    text-align: center;
}

.navbar {
    padding-left: 1rem;
}

.navbar li {
    width: 80%;
}

.hero-image {
    position: relative;
}

.card {
    background-color: #4abbda;
    margin: 1.5rem;
}

.card-img-top {
    width: 100%;
    height: 100%;
}

.card-text {
    font-size: 1rem;
}

.helptext ul { list-style-type: none; }

#social-networks {
    list-style-type: none;
    font-size: 1.5rem;
}


