body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-color: #FFF2D7;
}

main {
    flex: 1 0 auto;
}

h1 {
    text-align: center;
}

.navbar {
    padding-left: 1rem;
}

.dropdown-item {
    width: 50%;
    padding-right: 5px;
}

.hero-image {
    position: relative;
}

.card {
    background-color: #4abbda;
    margin: 1.5rem;
}

.card-text {
    font-size: 1rem;
}

#social-networks {
    list-style-type: none;
    font-size: 1.5rem;
}


